*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.city{
  font-size: 40px;
  font-weight: bold;
}

.city-summary{
  font-size: 25px;
  padding: 10px 20px;
}

.city-score{
  font-size: 30px;
  font-weight: bold;
}

.city-categories{
  margin: 25px;
  font-size: 20px;
  font-weight: bold;
}

.city-paragraph{
  margin-left: 20px;
  font-weight: normal;
}

.city-info-error{
  font-size: 40px;
  margin: 0 25px;
}