*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

$first-color: #f0d391;
$second-color: #f04e35;

.city{
  font-size: 40px;
  font-weight: bold;
}

.city-summary{
  font-size: 25px;
  padding: 10px 20px;
  border: 2px solid #000000;
  margin: 10px;
  background-color: #ffffff;
}

.city-score{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.city-categories{
  margin: 25px;
  font-size: 20px;
  font-weight: bold;
}

.city-paragraph{
  margin-left: 20px;
  font-weight: normal;
  border: 2px solid #000000;
  margin: 10px;
  background-color: #ffffff;
}

.city-info-error{
  font-size: 40px;
  margin: 0 25px;
}